*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  background-color: #505966 ;
}

.container__side-menu{
  background: #272727;
  position: sticky;
  top: 0;
  height: 100vh;
  left: 0;
  z-index: 1;
  opacity: 0.7;
}

.menu{
  list-style-type: none;
  padding: 0;
}

.menu.menuitem{

}

.menu.menuitem button{
  background-color: transparent;
  color: white;
  width: 100%;
  font-size: 1.2em;
  padding: 30px 20px;
  border: none;
  cursor: pointer;
}

.menu.menuitem button:hover{
  background-color: #F4511E;
}

.menu.menuitem button.active{
  background-color: #F4511E
}

.line-chart{
}

.line {
  fill: none;
  stroke-width: 2px;
  animation: line-animation 10s linear;
}

.line.Mannen{
  stroke: #1976D2;
}

.line.Vrouwen{
  stroke: #EC407A;
}

.container-line-chart{
  position: relative;
  display: flex;
  padding-top: 5rem;
}

.tooltip{
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0.4rem;
  background-color: white;
  border-radius: 5px;
}

.tooltipActive{
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0.4rem;
  background-color: white;
  border-radius: 5px;
}

.tooltip.year{
  font-size: 30em;
  position: absolute;
  left: 200px;
  top: 0;
  background-color: transparent;
  opacity: 0.2;
  pointer-events: none;
}

.tooltipActive.year{
  font-size: 30em;
  position: absolute;
  left: 200px;
  top: 0;
  background-color: transparent;
  pointer-events: none;
}

.tooltipActive.year.inactive{;
  opacity: 0;
}

.dot{
  fill: white;
  opacity: 0.1;
  cursor: pointer;
  transition: 0.5s;
}

.dot:hover{
  opacity: 1;
}
.ax{
  opacity: 0.5;
}
.ax path, .ax line{
  stroke: white;
}

.ax text{
  fill: white;
}

.legenda{
    position: fixed;
}

.line-chart.legenda{
    left: 90vw;
}

.line-chart.legenda div{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-right: 0.5rem;
}

.line-chart.legenda ul li{
    display: flex;
    margin-bottom: 1rem;
    color: white;
}

.line-chart.legenda ul li span{
    line-height: 3;
}

.line-chart.legenda .legenda-color-men{
    background-color: #1976D2;
}

.line-chart.legenda .legenda-color-women{
    background-color: #EC407A;
}
.container-sankey-chart{
  padding-left: 30px;
}

.container-sankey-chart img{
  opacity: 0;
  transition: 1s;
}

.container-sankey-chart img.active{
  opacity: 1;
}
.source{
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: white;
}

.source a{
    color: white;
    opacity: 0.6;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
 fill: white;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .15;
}

.link:hover {
  stroke-opacity: .8;
}

@keyframes line-animation {
  from{
  stroke-dashoffset: 1936;
  stroke-dasharray: 1905;
  }

  to{
  stroke-dashoffset: 0;
  }
}
